@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  background-color: rgba(0, 0, 0, 0.873);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: white;
}
/* styles header */
header {
  width: 100%;
  margin-top: 3.1rem;
  .hero-section {
    width: 90%;
    margin: 0 auto;
    margin-top: 2.8rem;
    & h1 {
      width: 285px;
      font-size: 2.2rem;
    }
    & p {
      width: 285px;
      margin-top: 1.8rem;
    }
  }
}
span {
  font-family: cursive;
  /* font-size: 2.2rem; */
}
/* Navbar styles */
nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & h2 {
    font-size: 2.2rem;
  }
  & .fa-bars {
    font-size: 26px;
  }
  & ul{
    display: none;
  }
}
/* styles hero section */
.btn-box {
  width: 90%;
  margin: 0 auto;
  margin-top: 1.8rem;
  display: flex;
  gap: 1rem;
  & .btn-1 {
    width: 244px;
    height: 54px;
    border-radius: 42px;
    border: none;
  }
  & .btn-2 {
    width: 244px;
    height: 54px;
    border-radius: 42px;
    background-color: transparent;
    border-color: white;
  }
}
.position{
    width: 90%;
    margin: 0 auto;
    position: relative;
    & img{
        width: 100%;
        height: 530px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    & .position-top{
        width: 145.91px;
        height: 74.09px;
        border: 0.76px solid rgba(255, 255, 255, 0.1);
        border-radius: 9.07px;
        backdrop-filter: blur(15.12px);
        background: rgba(255, 255, 255, 0.1);
    }
}
.position-top{
        display: flex;
        flex-direction: column;
        padding-left: 18px;
        justify-content: center;
        position: absolute;
        top: 10%;
        right: 10%;
}
.position-centre{
    width: 145.91px;
    height: 74.09px;
    border: 0.76px solid rgba(255, 255, 255, 0.1);
    border-radius: 9.07px;
    backdrop-filter: blur(15.12px);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(15.12px);
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.fa-circle-play{
    font-size: 30px;
    color: rgb(230, 83, 60);
}
h4,h3{
    font-weight: 600;
}
/*section two */
.section-two{
    width: 80%;
    margin: 0 auto;
    & .title-box{
        width: 100%;
        margin: 0 auto;
        & h2{
            margin-bottom: 14px;
            font-size: 2rem;
        }
    }
}
.exercise-one, .exercise-two, .exercise-three, .exercise-four{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & img{
        border-radius: 50%;
        margin-bottom: 30px;
        margin-top: 40px;
    }
    & div{
        width: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/* shared styles */
.color-1 {
  background-color: rgb(230, 83, 60);
}
.color-2 {
  color: rgba(255, 255, 255, 0.5);
}
.centre-text{
    text-align: center;
}
@media screen and (min-width: 992px) {
    .fa-bars{
        display: none;
    }
    nav{
        width: 80%;
        margin: 0 auto;
        & ul{
            display: unset;
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 47px;
            font-size: 18px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 39px;
            height: 46px;
            width: 465px;
            & .home-btn{
                width: 92px;
                height: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 46px;
                background: rgb(230, 83, 60);
            }
        }
    }
.section-one{
    width: 84%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 280px;
    align-items: center;
    margin-top: 2rem;
    & .section-one-box-one{
        width: 50%;
        & h1{
            width: 520px;
            font-size: 50px;
        }
        .btn-1, .btn-2{
            width: 35%;
            font-size: 1rem;
        }
    }
    & .section-one-box-two{
        width: 50%;
        & img{
            width: 349px;
            height: 580px;
        }
        & .position-top{
            display: flex;
            flex-direction: column;
            padding-left: 18px;
            justify-content: center;
            position: absolute;
            top: 20%;
            right: 8%;
    }
    }
}
/* section two */
.section-two{
    width: 90%;
    margin: 0 auto;
    & .title-box{
        width: 476px;
        height: 120px;
        margin: 0 auto;
        & h2{
            margin-bottom: 14px;
            font-size: 3rem;
        }
        & p{
            font-size: 15px;
        }
    }
    & .section-two-box-two{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}
}